.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 80px;
}

main hr {
  border: 0;
  height: 0.8px;
  background-color: rgb(14, 14, 110);
  margin: 50px 40px;
  width: calc(100% - 80px);
}

@media (max-width: 768px) {
  main hr {
    margin: 30px 20px;
    width: calc(100% - 40px);
  }
}
